modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]

[[ports]]
localPort = 3000
externalPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 33177
externalPort = 3000

[[ports]]
localPort = 34799
externalPort = 6000

[[ports]]
localPort = 35193
externalPort = 5173

[[ports]]
localPort = 36849
externalPort = 3003

[[ports]]
localPort = 37623
externalPort = 3001

[[ports]]
localPort = 41009
externalPort = 4200

[[ports]]
localPort = 46325
externalPort = 6800

[[ports]]
localPort = 46589
externalPort = 3002

[env]
PORT = "5000"

[agent]
integrations = ["javascript_sendgrid:1.0.0", "javascript_log_in_with_replit:1.0.0", "javascript_database:1.0.0", "javascript_xai:1.0.0"]

[workflows]
runButton = "Start application"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[[workflows.workflow]]
name = "Dev Server"
author = 44483165
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=3000 npm run dev"
